In [43]:
import pandas as pd

In [41]:
data = {
    'Name': [
        'Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace', 'Helen', 'Ian', 'Jane',
        'Karl', 'Laura', 'Mike', 'Nina', 'Oscar', 'Paula', 'Quentin', 'Rachel', 'Steve', 'Tina',
        'Uma', 'Victor', 'Wendy', 'Xander', 'Yara', 'Zane'
    ],
    'Department': [
        'HR', 'IT', 'Finance', 'IT', 'HR', 'Finance', 'IT', 'Marketing', 'Sales', 'HR',
        'IT', 'Finance', 'Sales', 'Marketing', 'IT', 'HR', 'Finance', 'Sales', 'IT', 'Marketing',
        'HR', 'Finance', 'Sales', 'IT', 'Marketing', 'Finance'
    ],
    'Salary': [
        50000, 60000, 55000, 70000, 48000, 62000, 65000, 52000, 58000, 51000,
        75000, 53000, 60000, 57000, 67000, 49500, 61000, 59000, 72000, 54000,
        47000, 56000, 61000, 68000, 55000, 64000
    ],
    'Join_Date': [
        '2020-05-21', '2019-03-15', '2021-07-10', '2018-11-01', '2022-01-05', '2017-09-12',
        '2020-06-30', '2019-08-20', '2021-02-11', '2020-12-01', '2016-04-25', '2019-11-15',
        '2020-03-03', '2022-04-10', '2018-07-18', '2017-10-22', '2015-05-09', '2020-09-14',
        '2021-01-19', '2016-12-30', '2023-01-11', '2018-02-27', '2019-06-06', '2020-08-08',
        '2021-03-22', '2017-01-17'
    ]
}

In [28]:
data

{'Name': ['Alice',
  'Bob',
  'Charlie',
  'David',
  'Eva',
  'Frank',
  'Grace',
  'Helen',
  'Ian',
  'Jane',
  'Karl',
  'Laura',
  'Mike',
  'Nina',
  'Oscar',
  'Paula',
  'Quentin',
  'Rachel',
  'Steve',
  'Tina',
  'Uma',
  'Victor',
  'Wendy',
  'Xander',
  'Yara',
  'Zane'],
 'Department': ['HR',
  'IT',
  'Finance',
  'IT',
  'HR',
  'Finance',
  'IT',
  'Marketing',
  'Sales',
  'HR',
  'IT',
  'Finance',
  'Sales',
  'Marketing',
  'IT',
  'HR',
  'Finance',
  'Sales',
  'IT',
  'Marketing',
  'HR',
  'Finance',
  'Sales',
  'IT',
  'Marketing',
  'Finance'],
 'Salary': [50000,
  60000,
  55000,
  70000,
  48000,
  62000,
  65000,
  52000,
  58000,
  51000,
  75000,
  53000,
  60000,
  57000,
  67000,
  49500,
  61000,
  59000,
  72000,
  54000,
  47000,
  56000,
  61000,
  68000,
  55000,
  64000],
 'Join_Date': ['2020-05-21',
  '2019-03-15',
  '2021-07-10',
  '2018-11-01',
  '2022-01-05',
  '2017-09-12',
  '2020-06-30',
  '2019-08-20',
  '2021-02-11',
  '2020-12-01',
  '2016-04-25',
  '2019-11-15',
  '2020-03-03',
  '2022-04-10',
  '2018-07-18',
  '2017-10-22',
  '2015-05-09',
  '2020-09-14',
  '2021-01-19',
  '2016-12-30',
  '2023-01-11',
  '2018-02-27',
  '2019-06-06',
  '2020-08-08',
  '2021-03-22',
  '2017-01-17']}

In [29]:
df=pd.DataFrame(data)

In [30]:
df

       Name Department  Salary   Join_Date
0     Alice         HR   50000  2020-05-21
1       Bob         IT   60000  2019-03-15
2   Charlie    Finance   55000  2021-07-10
3     David         IT   70000  2018-11-01
4       Eva         HR   48000  2022-01-05
5     Frank    Finance   62000  2017-09-12
6     Grace         IT   65000  2020-06-30
7     Helen  Marketing   52000  2019-08-20
8       Ian      Sales   58000  2021-02-11
9      Jane         HR   51000  2020-12-01
10     Karl         IT   75000  2016-04-25
11    Laura    Finance   53000  2019-11-15
12     Mike      Sales   60000  2020-03-03
13     Nina  Marketing   57000  2022-04-10
14    Oscar         IT   67000  2018-07-18
15    Paula         HR   49500  2017-10-22
16  Quentin    Finance   61000  2015-05-09
17   Rachel      Sales   59000  2020-09-14
18    Steve         IT   72000  2021-01-19
19     Tina  Marketing   54000  2016-12-30
20      Uma         HR   47000  2023-01-11
21   Victor    Finance   56000  2018-02-27
22    Wendy      Sales   61000  2019-06-06
23   Xander         IT   68000  2020-08-08
24     Yara  Marketing   55000  2021-03-22
25     Zane    Finance   64000  2017-01-17

In [31]:
employees=df[df['Join_Date']>'2020-01-01']['Name']

In [32]:
employees

0       Alice
2     Charlie
4         Eva
6       Grace
8         Ian
9        Jane
12       Mike
13       Nina
17     Rachel
18      Steve
20        Uma
23     Xander
24       Yara
Name: Name, dtype: object

In [45]:
avg_salary=df.groupby('Department')['Salary'].mean()
print(avg_salary)

Department
Finance      58500.000000
HR           49100.000000
IT           68142.857143
Marketing    54500.000000
Sales        59500.000000
Name: Salary, dtype: float64

In [46]:
avg_salary.max()

68142.85714285714

In [48]:
from datetime import datetime

In [49]:
df['Join_Date']=pd.to_datetime(df['Join_Date'])

In [50]:
today=datetime.today()

In [57]:
df['Years_With_company']=today.year-df['Join_Date'].dt.year

In [61]:
df

       Name Department  Salary  Join_Date  Years_With_company
0     Alice         HR   50000 2020-05-21                   5
1       Bob         IT   60000 2019-03-15                   6
2   Charlie    Finance   55000 2021-07-10                   4
3     David         IT   70000 2018-11-01                   7
4       Eva         HR   48000 2022-01-05                   3
5     Frank    Finance   62000 2017-09-12                   8
6     Grace         IT   65000 2020-06-30                   5
7     Helen  Marketing   52000 2019-08-20                   6
8       Ian      Sales   58000 2021-02-11                   4
9      Jane         HR   51000 2020-12-01                   5
10     Karl         IT   75000 2016-04-25                   9
11    Laura    Finance   53000 2019-11-15                   6
12     Mike      Sales   60000 2020-03-03                   5
13     Nina  Marketing   57000 2022-04-10                   3
14    Oscar         IT   67000 2018-07-18                   7
15    Paula         HR   49500 2017-10-22                   8
16  Quentin    Finance   61000 2015-05-09                  10
17   Rachel      Sales   59000 2020-09-14                   5
18    Steve         IT   72000 2021-01-19                   4
19     Tina  Marketing   54000 2016-12-30                   9
20      Uma         HR   47000 2023-01-11                   2
21   Victor    Finance   56000 2018-02-27                   7
22    Wendy      Sales   61000 2019-06-06                   6
23   Xander         IT   68000 2020-08-08                   5
24     Yara  Marketing   55000 2021-03-22                   4
25     Zane    Finance   64000 2017-01-17                   8

In [62]:
df=df.sort_values(by='Years_With_company',ascending=False)

In [63]:
df

       Name Department  Salary  Join_Date  Years_With_company
16  Quentin    Finance   61000 2015-05-09                  10
19     Tina  Marketing   54000 2016-12-30                   9
10     Karl         IT   75000 2016-04-25                   9
25     Zane    Finance   64000 2017-01-17                   8
15    Paula         HR   49500 2017-10-22                   8
5     Frank    Finance   62000 2017-09-12                   8
3     David         IT   70000 2018-11-01                   7
21   Victor    Finance   56000 2018-02-27                   7
14    Oscar         IT   67000 2018-07-18                   7
22    Wendy      Sales   61000 2019-06-06                   6
7     Helen  Marketing   52000 2019-08-20                   6
11    Laura    Finance   53000 2019-11-15                   6
1       Bob         IT   60000 2019-03-15                   6
23   Xander         IT   68000 2020-08-08                   5
17   Rachel      Sales   59000 2020-09-14                   5
0     Alice         HR   50000 2020-05-21                   5
12     Mike      Sales   60000 2020-03-03                   5
9      Jane         HR   51000 2020-12-01                   5
6     Grace         IT   65000 2020-06-30                   5
18    Steve         IT   72000 2021-01-19                   4
8       Ian      Sales   58000 2021-02-11                   4
2   Charlie    Finance   55000 2021-07-10                   4
24     Yara  Marketing   55000 2021-03-22                   4
4       Eva         HR   48000 2022-01-05                   3
13     Nina  Marketing   57000 2022-04-10                   3
20      Uma         HR   47000 2023-01-11                   2

In [66]:
df.to_csv("update_employees,csv")